<main>
  <!-- Eingabefeld -->
  <div class="input">
    <div (keydown.enter)="sendMessage()">
      <input [(ngModel)]="userMessage" placeholder="Schreibe etwas..." autofocus/>
      <button (click)="sendMessage()">Senden</button>
    </div>
    <!-- Statuskreis -->
    <div class="status-circle" [ngClass]="status"></div>
  </div>

  <div class="content">
    <!-- Nachrichtenliste -->
    <div class="chatbox">
      <ul>
        <li *ngFor="let message of messages">
          <strong>{{ message.sender }}:</strong> {{ message.text }}
        </li>
      </ul>
    </div>

    <div class="smartdevices">
      <button (click)="startScan()">Scan starten</button>
      <h1>Verfügbare Smartdevices</h1>
      <ul *ngIf="shellyDevices.length > 0">
        <li class="device" *ngFor="let device of shellyDevices" (click)="selectedDevice = device.ssid">
          <strong>{{device.ssid}}</strong>
        </li>
      </ul>
      <p *ngIf="shellyDevices.length === 0">Keine Geräte gefunden.</p>
      <div *ngIf="selectedDevice">
        <h3>Verbinden mit {{ selectedDevice }}</h3>
        <input type="text" [(ngModel)]="deviceName" placeholder="Gerätenamen eingeben" />
        <button (click)="connectToDevice(selectedDevice, deviceName)">Verbinden</button>
      </div>

      <h1>Verbundene Smartdevices</h1>
      <ul *ngIf="connectedDevices.length > 0">
        <li class="device" *ngFor="let device of connectedDevices">
          <strong>{{ device.name }}</strong>
          <p>{{ device.ssid }}</p>
        </li>
      </ul>
      <p *ngIf="shellyDevices.length === 0">Keine Geräte gefunden.</p>

      <div *ngFor="let message of feedbackMessages" class="feedback-section">
        {{ message }}
      </div>
    </div>

    <div class="wificontent">
      <button (click)="scanWifi()">Nach verfügbaren WLAN-Netzwerken scannen</button>

      <div *ngIf="wifilist.length > 0; else noWifiFound">
        <h3>Verfügbare WLAN-Netzwerke</h3>
        <ul>
          <li class="wifi" *ngFor="let wifi of wifilist" (click)="selectedSSID = wifi.ssid">{{ wifi.ssid }}</li>
        </ul>
      </div>
      <ng-template #noWifiFound>
        <p>Keine WLAN-Netzwerke gefunden.</p>
      </ng-template>

      <div *ngIf="selectedSSID">
        <h3>Verbinden mit {{ selectedSSID }}</h3>
        <input type="password" [(ngModel)]="wifiPassword" placeholder="Passwort eingeben" />
        <button (click)="connectWifi(selectedSSID, wifiPassword)">Verbinden</button>
      </div>

      <div *ngIf="connectionFeedback">
        <p>{{ connectionFeedback }}</p>
      </div>
    </div>
  </div>



  <div *ngIf="streamStatus" class="stream-status">
    <p><strong>Status:</strong> {{ streamStatus.status }}</p>
    <p *ngIf="streamStatus.url"><strong>URL:</strong> {{ streamStatus.url }}</p>
    <div (click)="stopMusic()">Stop</div>
    <div (click)="playMusic()">Play</div>
  </div>
  <div *ngIf="!streamStatus">
    <p>Warte auf Stream-Status...</p>
  </div>
</main>
