.input {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.status-circle.ready {
  background-color: green;
}

.status-circle.listening {
  background-color: red;
}

.status-circle.processing {
  background-color: orange;
}

.content {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex: 1;
  justify-content: space-between;

  div {
    min-width: 500px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .smartdevices {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 80px;
    justify-content: space-between;

    h1 {
      font-size: 18px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serf, serif;
      margin: 0 0 10px;
    }

    .device {
      width: 100%;
      min-height: 60px;
      background-color: #86989B;
    }
  }
}

.stream-status {
  background-color: #f0f8ff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;

  div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #86989B;
    cursor: pointer;
  }
}
