<main>
  <!-- Eingabefeld -->
  <div class="input">
    <div (keydown.enter)="sendMessage()">
      <input [(ngModel)]="userMessage" placeholder="Schreibe etwas..." autofocus/>
      <button (click)="sendMessage()">Senden</button>
    </div>
    <!-- Statuskreis -->
    <div class="status-circle" [ngClass]="status"></div>
  </div>

  <div class="content">
    <!-- Nachrichtenliste -->
    <div>
      <ul>
        <li *ngFor="let message of messages">
          <strong>{{ message.sender }}:</strong> {{ message.text }}
        </li>
      </ul>
    </div>

    <div class="smartdevices">
      <h1>Smartdevices</h1>
      <div class="device" *ngFor="let device of devices" (click)="connectDevice()">
        <strong>{{device.name}}</strong><br>
        <p>{{device.ip}}</p>
      </div>
    </div>
  </div>



  <div *ngIf="streamStatus" class="stream-status">
    <p><strong>Status:</strong> {{ streamStatus.status }}</p>
    <p *ngIf="streamStatus.url"><strong>URL:</strong> {{ streamStatus.url }}</p>
    <div (click)="stopMusic()">Stop</div>
    <div (click)="playMusic()">Play</div>
  </div>
  <div *ngIf="!streamStatus">
    <p>Warte auf Stream-Status...</p>
  </div>
</main>
