<main>
  <!-- Eingabefeld -->
  <div (keydown.enter)="sendMessage()">
    <input [(ngModel)]="userMessage" placeholder="Schreibe etwas..." />
    <button (click)="sendMessage()">Senden</button>
  </div>

  <!-- Nachrichtenliste -->
  <div>
    <ul>
      <li *ngFor="let message of messages">
        <strong>{{ message.sender }}:</strong> {{ message.text }}
      </li>
    </ul>
  </div>

  <!-- Statuskreis -->
  <div class="status-circle" [ngClass]="status"></div>


  <div *ngIf="streamStatus" class="stream-status">
    <p><strong>Status:</strong> {{ streamStatus.status }}</p>
    <p *ngIf="streamStatus.url"><strong>URL:</strong> {{ streamStatus.url }}</p>
  </div>
  <div *ngIf="!streamStatus">
    <p>Warte auf Stream-Status...</p>
  </div>
</main>
